@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

img {
    display: block;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 3rem;
    align-items: center;
}

header .logo {
    position: absolute;
    top: 1rem;
    background: #fff;
    padding: 0.2rem 2.5rem;
    border-radius: 1.5rem;
}

header .logo img {
    width: 12rem;
}

header nav {
    position: relative;
    margin-left: auto;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li a {
    text-decoration: none;
    color: #064AA6;
    font-size: 1.4rem
}

header nav ul li a:hover {
    border-bottom: 0.2rem solid #196370;
}

header nav ul li::after {
    content: "|";
    padding: 0 1rem;
    font-size: 1.6rem;
    color: #064AA6;
}

header nav ul li:last-child::after {
    content: none;
}

.banner {
    background: #196370;
    padding-left: 6rem;
    display: grid;
    grid-template-columns: 50% 50%;
}

.banner > .information {
    width: 100%;
    padding: 15rem 0;
}

.banner .information div h1 {
    color: #fff;
    text-align: center;
}

.banner .information div {
    width: 100%;
}

.banner .information div p {
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
}

.banner .information .icones{
    display: flex;
    gap: 5rem;
    margin-top: 3rem;
    justify-content: center;
    padding-bottom: 2rem;
    border-bottom: 0.2rem solid #70AD47;
}

.banner .information .icones .item:last-child {
    content: none;
}

.banner .information .icones .item img {
    background:#fff;
    border-radius: 1.5rem;
    padding: 1rem;
    position: relative;
}

.banner .information .icones .item > div {
    position: relative;
}

.banner .information .icones .item > div::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background: #70AD47;
    border-radius: 100%;
    position: absolute;
    top: calc(50% - 0.5rem);
    right: calc(-2.5rem - 0.5rem);
}

.banner .information .icones .item p {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.animals {
    padding-top: 12rem;
}

footer {
    background: #70AD47;
    padding: 3rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 10rem;
}

footer .service-container {
    color: #fff;
    text-align: center;

}

footer .service-container h6 {
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.8rem;
}

footer .service-container p {
    font-size: 0.9rem;
}

footer .address-container {
    color: #fff;
    text-align: center;
}

footer .address-container h6{
    font-weight: normal;
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
}

footer .address-container p {
    font-size: 0.9rem;
}

footer .contact-container {
    color: #fff;
    text-align: center;
}

footer .contact-container a {
    text-decoration: none;
    color: #fff;
}

footer .social-container a{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

footer > a {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

footer > a > img {
    width: 4rem;
}

.mobile-toggle {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
}

.mobile-toggle:focus {
    outline: none;
}

.mobile-toggle div {
    width: 2rem;
    height: 0.25rem;
    background: #000;
    border-radius: 1rem;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 0.1rem;
}

.mobile-toggle div:first-child {
    transform: rotate(0);
}

.mobile-toggle div:nth-child(2) {
    opacity: 1;
    transform: translateX(0);
}

.mobile-toggle div:nth-child(3) {
    transform: rotate(0);
}

@media (max-width: 576px) {
    .mobile-toggle {
        display: flex;
    }

    .mobile-toggle > div {
        transform: rotate(0);
    }

    .mobile-toggle > div {
        transform: translateX(0);
    }

    .mobile-toggle > div {
        transform: rotate(0);
    }

    .active div:first-child {
        background: #fff;
        transform: rotate(45deg);
    }

    .active div:nth-child(2) {
        color: #fff;
        transform: translateX(60px);
    }

    .active div:nth-child(3) {
        background: #fff;
        transform: rotate(-45deg);
    }

    header nav ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #196370;
        height: 100vh;
        text-align: left;
        padding: 2rem;
        position: absolute;
        inset: 0;
        transform: translateX(100%);
        z-index: 2;
        gap: 1rem;
    }

    header nav ul li {
        border-bottom: 0.1rem solid #fff;
    }

    header nav ul li a {
        color: #fff;
        text-align: center;
    }

    header nav ul li::after {
        content: none;
    }

    .active-menu {
        transform: translateX(0);
        overflow-y: hidden;
        position: fixed;
        height: 100%;
        z-index: 2;
    }

    .menu-active {
        overflow: hidden !important;
    }
}